@font-face {
    font-family:Shrikhand ;
    src: url(fonts/Shrikhand-Regular.otf)format("opentype");
    font-weight:400 ;
}
@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Black.ttf) format("truetype");
    src: url(fonts/Roboto-BlackItalic.ttf) format("truetype");
    src: url(fonts/Roboto-Bold.ttf) format("truetype");
    src: url(fonts/Roboto-BoldItalic.ttf)format("truetype");
    src: url(fonts/Roboto-Italic.ttf)format("truetype");
    src: url(fonts/Roboto-Regular.ttf)format("truetype");
}