* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto-regular','arial';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #333;
}

.img-logo {
  width: 300px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  height: 70px;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin: 10px 10px 10px 38px;
  border-radius: 26px;
  background-color: #ffff;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: -37px;
  width: 280px;
  height: 220px;
  overflow: hidden;
  background-size: cover;
  background-repeat: inherit;
  background-position: center center;
}

.image {
  width: 300px;
  background-size: 100%;
  border-radius: 20px 20px 0 0;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  height: 132px;
}

a {
  text-decoration: none;
}

.bck-img {
  width: 200vh;
  background-repeat: no-repeat;
  background-position: right 35% bottom 45%;
  background-size: cover;
  overflow: hidden;
  height: 170px;
}

@font-face {
  font-family: Shrikhand;
  src: url(assets/fonts/Shrikhand-Regular.otf) format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: roboto;
  src: url(assets/fonts/Roboto-Black.ttf) format("truetype");
  src: url(assets/fonts/Roboto-BlackItalic.ttf) format("truetype");
  src: url(assets/fonts/Roboto-Bold.ttf) format("truetype");
  src: url(assets/fonts/Roboto-BoldItalic.ttf) format("truetype");
  src: url(assets/fonts/Roboto-Italic.ttf) format("truetype");
  src: url(assets/fonts/Roboto-Regular.ttf) format("truetype");
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

/*@media container*/
@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}

.header_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header_heading .nav {
  margin-left: 29%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_heading .img-logo {
  width: 300px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  height: 132px;
}

.text {
  font-size: large;
  color: #333;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 33px;
  padding: 1px;
  margin-right: -4px;
  border: 0px;
  background-color: rgba(32, 19, 19, 0.04);
  -webkit-box-shadow: rgba(152, 151, 151, 0.186);
          box-shadow: rgba(152, 151, 151, 0.186);
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  position: relative;
  left: -4px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form .recherche-emoticon {
  margin: 0px 15px 0 0;
}

.form .fa-solid {
  font-size: x-large;
}

.nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(243, 241, 241, 0.5);
}

.nav_container .titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: larger;
  font-weight: 900;
}

.nav_container .sous-titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: larger;
  font-weight: 900;
}

.nav_link-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10px;
}

.nav_link-search .nav_link-activ-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav_link-search .filtre {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: larger;
  font-weight: bold;
}

.nav_link-search .image {
  width: 300px;
  background-size: 100%;
  border-radius: 20px 20px 0 0;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  height: 132px;
}

.nav_link-search a {
  text-decoration: none;
}

.nav_link-search .bck-img {
  width: 200vh;
  background-repeat: no-repeat;
  background-position: right 35% bottom 45%;
  background-size: cover;
  overflow: hidden;
  height: 170px;
}

.tchek {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
}

.button:hover {
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.button .btn1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 10px;
}

.btn li {
  list-style: none;
  margin: 10px;
  border-radius: 20px;
  border: solid 0.5px rgba(195, 72, 232, 0.27);
  text-align: center;
  position: relative;
  margin: 0 10px 0 10px;
  color: #333;
  background-color: #9356DC 0.2;
}

.btn i {
  border-radius: 50%;
  position: relative;
  right: 2px;
  background-color: #9356DC 0.3;
  padding: 8px 10px 12px 9px;
  color: #9356DC 0.2;
  width: 19px;
}

.btn .familial {
  margin: 5px 19px 5px 19px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 20px;
  background-color: rgba(243, 241, 241, 0.5);
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin: 10px 10px 10px 38px;
  border-radius: 26px;
  background-color: #ffff;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: -37px;
  width: 280px;
  height: 220px;
  overflow: hidden;
  background-size: cover;
  background-repeat: inherit;
  background-position: center center;
}

.image {
  width: 300px;
  background-size: 100%;
  border-radius: 20px 20px 0 0;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  height: 132px;
}

a {
  text-decoration: none;
}

.menu {
  background-color: rgba(243, 241, 241, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 10px 10px 10px;
  /* top: 50%; */
  /* left: 50%; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffff;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 10px 10px;
  width: 600px;
  height: 100px;
}

.item-menu .contenu {
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px;
}

.footer {
  width: 100%;
  background-color: #333;
}

.footer a {
  text-decoration: none;
  color: #ffff;
}

.footer .faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 5px 5px 5px 5px;
}

.footer li {
  margin: 10px 15px 15px 15px;
  font-size: 16px;
}

.footer i {
  color: #ffff;
}
/*# sourceMappingURL=style.css.map */