@import "./utils/_variable.scss";
@import "./base/_base.scss";
@import "./base/_typography.scss";

@font-face {
    font-family: Shrikhand;
    src: url(assets/fonts/Shrikhand-Regular.otf)format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: roboto;
    src: url(assets/fonts/Roboto-Black.ttf) format("truetype");
    src: url(assets/fonts/Roboto-BlackItalic.ttf) format("truetype");
    src: url(assets/fonts/Roboto-Bold.ttf) format("truetype");
    src: url(assets/fonts/Roboto-BoldItalic.ttf)format("truetype");
    src: url(assets/fonts/Roboto-Italic.ttf)format("truetype");
    src: url(assets/fonts/Roboto-Regular.ttf)format("truetype");
}



.container,
	.container-fluid,
	.container-xxl,
	.container-xl,
	.container-lg,
	.container-md,
	.container-sm {
	    width: 100%;
	   
	    margin-right: auto;
	    margin-left: auto;
	    transition: all 0.5s ease-out;
	}
	
	/*@media container*/
	@media (min-width: 576px) {
	    .container-sm,
	    .container {
	        max-width: 540px;
	    }
	}
	
	@media (min-width: 768px) {
	    .container-md,
	    .container-sm,
	    .container {
	        max-width: 720px;
	    }
	}
	
	@media (min-width: 992px) {
	    .container-lg,
	    .container-md,
	    .container-sm,
	    .container {
	        max-width: 960px;
	    }
	}
	
	@media (min-width: 1200px) {
	    .container-xl,
	    .container-lg,
	    .container-md,
	    .container-sm,
	    .container {
	        max-width: 1140px;
	    }
	}
	
	@media (min-width: 1400px) {
	    .container-xxl,
	    .container-xl,
	    .container-lg,
	    .container-md,
	    .container-sm,
	    .container {
	        max-width: 1320px;
	    }
	}
    .header_heading{
        display: flex;
        flex-direction: row;
		

		.nav{
			margin-left: 29%;
    		display: flex;
   			 align-items: center

		}
		

    }
	.text {
	font-size: large;
    color:$corlor-typo;
   flex-direction: row;
    height: 33px;
    padding: 1px;
    margin-right: -4px;
    border: 0px ;
	background-color: hsla(0, 25%, 10%, 0.040);
	box-shadow: rgba(152, 151, 151, 0.186);
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    position: relative;
    left: -4px;
	
	

}
	.form{
	display: flex;
    flex-direction: row;
    align-items: center;

	.recherche-emoticon{
		margin: 0px 15px 0 0;

	}
	.fa-solid {
		font-size:x-large;
	}
	
	}

	.nav_container{
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: rgba(243, 241, 241, 0.500);
		.titre{
			display: flex;
			justify-content: space-around;
			font-size: larger;
			font-weight: 900;
		}
		.sous-titre{
			display: flex;
			justify-content: space-around;
			font-size: larger;
			font-weight: 900;
		}
		
	}
	.nav_link-search{
		display: flex;
		flex-direction: row;
		margin-top: 10px;
		.nav_link-activ-button{
			display: flex;
			flex-direction: row;
			align-items: flex-end;
			
		}
		.filtre{
			margin-right: 10px;
			display: flex;
			align-items: center;
			font-size: larger;
    		font-weight: bold;
		}
		
	}
	.btn{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		margin: 10px ;
		
		li{
			list-style: none;
			margin: 10px;
			border-radius: 20px;
    border: solid 0.5px rgba(195, 72, 232, 0.27);
    text-align: center;
    position: relative;
    margin: 0 10px 0 10px;
    color: #333;
	background-color: $primaire-mauve(0.2);
		}
		i{
			border-radius: 50%;
    position: relative;
    right: 2px;
    background-color:$primaire-mauve(0.3);
    padding: 8px 10px 12px 9px;
    color:$primaire-mauve(0.2) ;
    width: 19px;
		}
		.familial{
			margin: 5px 19px 5px 19px;
			justify-content: center;
			
		}
		
	}
	.nav_link{
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
	}
	.containeur{
		display: flex;
		flex-direction: row;
		margin-top: 20px;
	}
	.cart{
		display: flex;
		flex-direction: column;
		img{
	width: 187px;
    background-size: 100%;
    border-radius: 20px 20px 0 0;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    height: 127px;
		}
		a{
			text-decoration: none;
		}
	}

	