* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
  color: #333;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto-regular','arial';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #333;
}

@font-face {
  font-family: Shrikhand;
  src: url(assets/fonts/Shrikhand-Regular.otf) format("opentype");
}

@font-face {
  font-family: roboto;
  src: url(assets/fonts/Roboto-Black.ttf) format("truetype");
  src: url(assets/fonts/Roboto-BlackItalic.ttf) format("truetype");
  src: url(assets/fonts/Roboto-Bold.ttf) format("truetype");
  src: url(assets/fonts/Roboto-BoldItalic.ttf) format("truetype");
  src: url(assets/fonts/Roboto-Italic.ttf) format("truetype");
  src: url(assets/fonts/Roboto-Regular.ttf) format("truetype");
}

.img-logo {
  width: 173px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  height: 53px;
}

.footer {
  width: 100%;
  background-color: #333;
}

.footer a {
  text-decoration: none;
  color: #ffff;
}

.footer .faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 5px 5px 5px 5px;
}

.footer li {
  margin: 10px 15px 15px 15px;
  font-size: 16px;
}

.footer i {
  color: #ffff;
}

.header_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_heading .nav {
  margin-left: 29%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_heading .img-logo {
  width: 180px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  height: 70px;
}

.nav_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_link-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav_link-search .nav_link-activ-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav_link-search .filtre {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  text-transform: lowercase;
  font-weight: bolder;
}

.nav_link-search .image {
  width: 300px;
  background-size: 100%;
  border-radius: 20px 20px 0 0;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  height: 132px;
}

.text {
  font-size: large;
  color: #333;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 33px;
  padding: 1px;
  margin-right: -4px;
  border: 0px;
  background-color: rgba(32, 19, 19, 0.04);
  -webkit-box-shadow: rgba(152, 151, 151, 0.186);
          box-shadow: rgba(152, 151, 151, 0.186);
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  position: relative;
  left: -4px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form .recherche-emoticon {
  margin: 0px 15px 0 0;
}

.form .fa-solid {
  font-size: x-large;
}

.form .fa-solid :hover {
  background-color: linear-gradient(to bottom right, #FF79DA, #9356DC);
}

.nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(243, 241, 241, 0.5);
  height: 268px;
}

.nav_container .titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: x-large;
  font-weight: 900;
}

.nav_container .sous-titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: larger;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 10px;
}

.btn li {
  margin: 10px;
  border-radius: 16px;
  -webkit-box-shadow: 2px 2px 2px 0.5px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px 0.5px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  margin: 0 127px 0 45px;
  background-color: rgba(243, 241, 241, 0.5);
}

.btn i {
  border-radius: 50%;
  position: relative;
  right: 2px;
  padding: 8px 10px 12px 9px;
  width: 19px;
}

.btn .familial {
  margin: 5px 19px 5px 19px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

li.active:hover {
  background-color: rgba(147, 86, 220, 0.2);
}

.font .fa-solid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* color: transparent; */
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  margin-top: -18px;
  margin-right: 18px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1px;
  background-color: rgba(243, 241, 241, 0.5);
  height: 550px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*align-content: center;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fonction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px;
  font-size: 30px;
}

h2 {
  margin: 26px 9px 8px -2px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: -10px 12px 11px 25px;
}

.h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: large;
}

.fa-regular :hover {
  background-color: linear-gradient(to bottom right, #FF79DA, #9356DC);
}

.bck-img {
  width: 126vh;
  background-repeat: no-repeat;
  background-position: right 35% bottom 45%;
  background-size: cover;
  overflow: hidden;
  height: 170px;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: -13px 10px 4px 58px;
  border-radius: 26px;
  background-color: white;
  -webkit-box-shadow: 2px 2px 2px 0.5px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px 0.5px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 215px;
  overflow: hidden;
  background-size: cover;
  background-repeat: inherit;
  background-position: center center;
}

.image {
  width: 300px;
  background-size: 100%;
  border-radius: 20px 20px 0 0;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  height: 132px;
}

a {
  text-decoration: none;
}

.bck-img {
  width: 124vh;
  background-repeat: no-repeat;
  background-position: right 35% bottom 45%;
  background-size: cover;
  overflow: hidden;
  height: 170px;
  margin: 16px 0px 14px 34px;
}

/*menu a la francaise*/
.menu {
  background-color: rgba(243, 241, 241, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -17px 18px 43px 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transform: translatey(-30px);
          transform: translatey(-30px);
  -webkit-animation: apparition 0.9s 1.5s ease-out forwards;
          animation: apparition 0.9s 1.5s ease-out forwards;
}

.item-menu {
  background-color: #ffff;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 10px 10px;
  width: 600px;
  height: 100px;
  margin-block: 10px;
}

.item-menu .check-hidden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: transparent;
  opacity: 0;
}

.item-menu .check-hidden:hover {
  width: 80px;
  height: 100px;
  border-radius: 0px 10px 10px 0px;
  color: white;
  background-color: #99E2D0;
  opacity: 1;
}

.item-menu .contenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*---h1 menu a la francaise*/
.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  font-family: Shrikhand-Regular;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section {
  position: absolute;
  display: inline;
  text-transform: uppercase;
  left: 4%;
  margin: 77px;
  font-size: 25px;
  -webkit-transform: translate(56px, -29px);
          transform: translate(56px, -29px);
}

.section::after {
  content: "";
  position: absolute;
  display: block;
  width: 50%;
  margin: 1px,auto;
  background-color: #99E2D0;
  height: 3px;
}

/*animation carte */
@-webkit-keyframes apparition {
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes apparition {
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

/*---menu la francaise fleche retour menu*/
.class-fa {
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: black;
  background-color: white;
  border-radius: 10px;
  border: none;
}

/*--fleche-a-la-francaise*/
.nav_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -10px;
}

/*---logo*/
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
}

/*bouton commander*/
.tchek {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  padding: 10px;
  width: 134px;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
}

.button:hover {
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.button .btn1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*@media container*/
@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
/*# sourceMappingURL=style.css.map */