//principal


$primaire-mauve :#9356DC;
$secondaire-rose:#FF79DA;
$tertiaire-vert:#99E2D0;



//boutton




//fond



//textes
$corlor-typo: #333;




//utilitaire/position/dimension
$btn-radius: 5px;
$padding-text: 16px;



