@font-face {
    font-family: Shrikhand;
    src: url(assets/fonts/Shrikhand-Regular.otf)format("opentype");
    
}

@font-face {
    font-family: roboto;
    src: url(assets/fonts/Roboto-Black.ttf) format("truetype");
    src: url(assets/fonts/Roboto-BlackItalic.ttf) format("truetype");
    src: url(assets/fonts/Roboto-Bold.ttf) format("truetype");
    src: url(assets/fonts/Roboto-BoldItalic.ttf)format("truetype");
    src: url(assets/fonts/Roboto-Italic.ttf)format("truetype");
    src: url(assets/fonts/Roboto-Regular.ttf)format("truetype");
}