@charset "UTF-8";
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
  color: #333;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto-regular", "arial";
  display: flex;
  flex-direction: column;
  color: #333;
}

/*
.loader-container{
    position: absolute;
    background: #f1f1f1;
    width: 1000px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-in-out;
    z-index:99999;

}
.dot{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #333;
    margin: 0 15px;
    animation: loader infinite 0.4s alternate;
}

.d2 {
    animation-delay: 0.05s;
}
.d3{
    animation-delay: 0.1s;
}
@keyframes loader {
    100%{
        transform: translateY(-30px);
    }
}*/
@font-face {
  font-family: Shrikhand;
  src: url(assets/fonts/Shrikhand-Regular.otf) format("opentype");
}
@font-face {
  font-family: roboto;
  src: url(assets/fonts/Roboto-Black.ttf) format("truetype");
  src: url(assets/fonts/Roboto-BlackItalic.ttf) format("truetype");
  src: url(assets/fonts/Roboto-Bold.ttf) format("truetype");
  src: url(assets/fonts/Roboto-BoldItalic.ttf) format("truetype");
  src: url(assets/fonts/Roboto-Italic.ttf) format("truetype");
  src: url(assets/fonts/Roboto-Regular.ttf) format("truetype");
}
.img-logo {
  width: 173px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  height: 53px;
}

.footer {
  width: 100%;
  background-color: #333;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer p {
  margin: -17px 77px 17px 35px;
}
.footer .faq {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px 5px 5px 5px;
}
.footer li {
  margin: 10px 75px 15px 15px;
  font-size: 16px;
}
.footer i {
  color: white;
}

.header_heading {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header_heading .nav {
  display: flex;
  align-items: center;
}
.header_heading .img-logo {
  width: 180px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  height: 70px;
}

.nav_link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.nav_link-search {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.nav_link-activ-button {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.filtre {
  margin-right: 10px;
  display: flex;
  align-items: center;
  font-size: 22px;
  text-transform: unset;
  font-weight: bolder;
}

.image {
  width: 300px;
  background-size: 100%;
  border-radius: 20px 20px 0 0;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  height: 132px;
}

.text {
  font-size: large;
  color: #333;
  flex-direction: row;
  height: 33px;
  padding: 1px;
  margin-right: -4px;
  border: 0px;
  background-color: hsla(0deg, 25%, 10%, 0.04);
  box-shadow: rgba(152, 151, 151, 0.186);
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  position: relative;
  left: -4px;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form .recherche-emoticon {
  margin: 0px 15px 0 0;
}
.form .font.fa-solid:hover {
  color: linear-gradient(to bottom right, #FF79DA, #9356DC);
}

.nav_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(243, 241, 241, 0.5);
  height: 268px;
}
.nav_container .titre {
  display: flex;
  justify-content: space-around;
  font-size: x-large;
  font-weight: 900;
}
.nav_container .sous-titre {
  display: flex;
  justify-content: space-around;
  font-size: larger;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}
.btn li {
  display: flex;
  align-items: center;
  width: 250px;
  height: 60px;
  margin: 10px 40px 10px 1px;
  border-radius: 16px;
  box-shadow: 2px 2px 2px 0.5px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  margin: 0 95px 0 35px;
  background-color: rgba(243, 241, 241, 0.5);
  transition: all 0.3s;
}
.btn i {
  color: rgba(14, 14, 14, 0.5803921569);
  padding: 8px 5px 11px 17px;
}
.btn .familial {
  margin: 5px 19px 5px 19px;
  justify-content: center;
}
.btn .menu-link {
  display: flex;
}

li.btn-item:hover {
  background-color: rgba(147, 86, 220, 0.2);
}

li.btn-item:hover i {
  color: rgba(146, 86, 220, 0.6666666667);
}

/*li.btn-item:hover
{
    background-color:rgba( $primaire-mauve, 0.2);


}*/
li span {
  color: white;
  position: absolute;
  top: 1rem;
  left: -1rem;
  background-color: rgba(146, 86, 220, 0.91);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn i:hover {
  color: rgba(146, 86, 220, 0.91);
}

.font .fa-solid {
  display: flex;
  color: #505050;
  transition: all 2s ease 0;
  justify-content: flex-end;
  flex-direction: row;
  align-content: stretch;
  margin-top: -18px;
  margin-right: 18px;
}

.font .fa-solid:hover {
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flex {
  display: flex;
  flex-direction: row;
  margin: 65px 31px 1px 1px;
  align-items: center;
}

/*menu restaurant*/
.containeur {
  display: flex;
  margin-top: 1px;
  background-color: rgba(243, 241, 241, 0.5);
  height: 550px;
  width: 100%;
  margin: auto;
  border-radius: 35px 35px 0px 0px;
  align-items: center;
  /*align-content: center;*/
  flex-direction: column;
}

.cart {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 2px 0.5px rgba(0, 0, 0, 0.1);
  width: 271px;
  height: 204px;
  overflow: hidden;
  background-size: cover;
  background-repeat: inherit;
  background-position: center center;
  margin: 10px;
  position: relative;
}

.image {
  width: 100%;
  background-size: 100%;
  border-radius: 10px 10px 0 0;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  height: 132px;
}

a {
  text-decoration: none;
}

.bck-img {
  width: 124vh;
  background-repeat: no-repeat;
  background-position: right 35% bottom 45%;
  background-size: cover;
  overflow: hidden;
  height: 170px;
  margin: 16px 0px 14px 34px;
}

.fonction {
  display: flex;
  align-items: center;
  margin: 50px;
  font-size: 30px;
}

h2 {
  font-size: 18px;
  margin: 26px 9px 8px -2px;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 15px 12px 11px 25px;
}

.content h2 {
  font-size: 18px;
  margin: 0px;
}

.nouveau {
  position: absolute;
  /* width: 84px;
   height: 31px;*/
  background-color: aquamarine;
  color: #04502c;
  font-size: 13px;
  top: 5px;
  right: 5px;
  border-radius: 5px 5px 5px 5px;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 10px 5px 10px;
}

.h2 {
  display: flex;
  font-size: 15px;
}

/* .fa-regular{
     position: relative;
     height: 60px;
     width: 100px;
     top: 60px;
 }*/
.fa-regular::before {
  content: "";
  position: absolute;
  background-color: linear-gradient(to bottom right, #FF79DA, #9356DC);
  width: 100%;
  height: 100%;
  top: 60px;
}

.bck-img {
  width: 126vh;
  background-repeat: no-repeat;
  background-position: right 35% bottom 45%;
  background-size: cover;
  overflow: hidden;
  height: 170px;
}

/*menu a la francaise....la palette...les delices...*/
.menu {
  /*background-color: rgba(243, 241, 241, 0.5);*/
  display: flex;
  margin: -17px 18px 43px 24px;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translatey(-30px);
  animation: apparition 1.5s ease-out forwards;
}

.item-menu {
  display: inline-block;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 10px 10px;
  width: 595px;
  height: 90px;
  margin-block: 10px;
  transition-property: background-color, border-color, border-left-width, padding, width, letter-spacing, font-size;
  transition-duration: 0.5s;
  position: relative;
  overflow: hidden;
}

.item-menu:hover {
  transition: right 2s;
  width: 890px;
  padding-right: 20px;
}

.item-menu::after {
  content: "";
  display: block;
  width: 100px;
  height: 130px;
  background-color: #99E2D0;
  position: absolute;
  top: 0px;
  right: -100px;
  transition: left 0.8s;
}

.item-menu:hover::after {
  right: 0px;
}

.check-hidden {
  color: transparent;
}

.check-hidden::after {
  display: flex;
  color: white;
  transform: rotate(-50deg);
  opacity: 0;
}

/*.check-hidden:hover::after{
    width: 80px;
    height: 100px;
    border-radius: 0px 10px 10px 0px;
    color: white;
    transform: rotate(90deg);
   /* background-color: $tertiaire-vert;*/
/*  opacity: (1);

}*/
.contenu {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}

.item-contenu {
  display: flex;
  flex-direction: column;
  margin: 0px 67px 2px 25px;
}

.item-price {
  display: flex;
  margin: 10px -52px 1px 1px;
}

.item-push-price {
  margin: 10px 1px 2px 185px;
}

.d-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translatey(-40px);
  animation: apparition 0.9s 0.9s ease-out forwards;
}

.d_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translatey(-50px);
  animation: apparition 0.9s 1.5s ease-out forwards;
}

.item-section {
  opacity: 0;
  transform: translatey(-30px);
  animation: apparition 0.9s 0.3s ease-out forwards;
}

/*---h1 menu a la francaise*/
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: Shrikhand-Regular;
}

.price {
  display: flex;
}

.section {
  position: absolute;
  display: inline;
  text-transform: uppercase;
  left: 4%;
  margin: 65px 10px 20px -37px;
  font-size: 25px;
  transform: translate(56px, -29px);
}

.section::after {
  content: "";
  position: absolute;
  display: block;
  width: 50%;
  margin: 1px, auto;
  background-color: #99E2D0;
  height: 3px;
}

/* h2 intitulé de la carte*/
span.h2 {
  display: flex;
  font-size: 15px;
}

/*animation carte */
@keyframes apparition {
  100% {
    opacity: 1;
    transform: none;
  }
}
/*---menu la francaise fleche retour menu*/
.class-fa {
  padding: 1px;
  margin-top: 19px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  color: black;
  background-color: #99E2D0;
  border-radius: 17px;
  height: 35px;
  width: 64px;
  border: none;
  font-size: 28px;
  margin: 20px 30px 3px -26px;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 1px 1px 2px;
}

/*--fleche-a-la-francaise*/
.nav_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -10px;
}

/*---logo*/
.logo {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

/*bouton commander*/
.tchek {
  display: flex;
  justify-content: center;
}

.button {
  padding: 10px;
  width: 200px;
  height: 50px;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  color: white;
  border-radius: 30px;
  border: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #FF79DA, rgba(146, 86, 220, 0.8980392157));
}
.button:hover {
  background: linear-gradient(to bottom, rgba(242, 92, 200, 0.5725490196), rgba(146, 86, 220, 0.6666666667));
  box-shadow: 3px 5px 2px rgba(51, 51, 51, 0.556);
}
.button .btn1 {
  display: flex;
  align-items: center;
}

/*/*@media container*/
/*@media screen and (min-width: 576px) {
    .container-sm,
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .container-md,
    .container-sm,
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1200px;

    }
}

@media (min-width: 1200px) {
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1140px;
    }
}*/
/*@media (min-width: 1500px) {
    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1320px;
    }
}*/
.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  transition: all 0.5s ease-out;
}

@media screen and (max-width: 1400px) {
  .header_heading {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav_container {
    width: 90%;
  }
  .nav_link-search {
    width: 90%;
  }
  .nav_link-activ-button {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  .containeur {
    width: 90%;
  }
  .filtre {
    display: flex;
    font-size: 26px;
    text-transform: capitalize;
    flex-direction: column;
    align-items: center;
  }
  .cart {
    width: 271px;
  }
  .h2 {
    font-size: smaller;
  }
  span.h2 {
    margin: 5px 0px 4px 0px;
  }
  .content {
    margin: 19px 7px 0px 17px;
    font-size: 15px;
  }
}
@media (max-width: 1300px) {
  .nav_link-activ-button {
    display: flex;
    flex-direction: column;
  }
  .header_heading {
    justify-content: space-around;
  }
  .cart {
    margin: -25px 10px 40px 3px;
    width: 299px;
  }
  .flex {
    flex-direction: column;
  }
  .containeur {
    height: 1108px;
    /* width: 100%;*/
  }
  .button {
    font-size: 16px;
  }
  .nav_link-search .filtre {
    text-transform: none;
    margin-top: 5px;
  }
  .image {
    width: 299px;
  }
  .btn {
    margin: 21px;
  }
  li.active:hover {
    background-color: rgba(147, 86, 220, 0.2);
  }
}
@media (max-width: 1200px) {
  .cart {
    margin: 16px 1px 9px 21px;
    /*width: 298px*/
  }
  .containeur {
    width: 100%;
    /* margin: 17px 20px 23px 71px;
     width: 1048px;
     border-radius: 35px 35px 35px 35px;*/
  }
  .flex {
    margin: 10px 10px 10px 10px;
  }
  .btn li {
    margin: 25px 66px 32px -5px;
  }
  .footer {
    width: 100%;
  }
  /*.footer .faq {
      display: flex;
      /* margin: 5px 5px 5px 1px; 
      align-items: flex-start;
      flex-direction: column;
  }*/
  .img-logo {
    width: 173px;
    margin: 13px 10px 7px 40px;
  }
  .logo {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    width: 100%;
  }
  .footer .faq {
    display: flex;
    justify-content: flex-start;
    /* margin: 5px 5px 5px 1px; */
    align-items: flex-start;
    flex-direction: row;
  }
  .footer li {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  .nav_link-search {
    margin: 18px -2px 15px 64px;
  }
  .nav_link-activ-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .flex {
    flex-direction: column;
  }
  .btn {
    flex-direction: column;
  }
  .btn li {
    margin: 9px 39px 24px -3px;
  }
  .cart {
    margin: 22px 4px 13px 11px;
  }
  .containeur {
    width: 60%;
  }
  .nav_container {
    width: 100%;
  }
  .nav_container .sous-titre {
    font-size: 18px;
  }
  .logo .img-logo {
    width: 173px;
    margin: 13px 10px 7px 40px;
  }
  .header_heading {
    width: 100%;
    margin: 2px 2px 0px 12px;
  }
  .faq {
    margin: 15px 0px 0px;
  }
}
@media (max-width: 768px) {
  .nav_link-search {
    width: 100%;
  }
  .btn i {
    width: 30px;
  }
  .button {
    font-size: 15px;
    padding: 1px;
    width: 198px;
    text-align: center;
  }
  .nav_container {
    width: 100%;
    /* margin: -21px -1px;*/
  }
  .header_heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .container {
    width: 100%;
  }
  .header_heading .nav {
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .nav {
    margin-left: 0%;
    background-color: hsla(0deg, 25%, 10%, 0.04);
    /*width: 700px;*/
    height: 131px;
  }
  .img-logo {
    margin: 15px 8px -4px 52px;
    width: 239px;
  }
  .text {
    background-color: hsla(0deg, 25%, 10%, 0.04);
  }
  .logo-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 8px 14px grey;
    width: 100%;
    height: 140px;
  }
  .fa-style {
    font-size: 21px;
    display: flex;
  }
  .containeur {
    /*height: 1339px;*/
    width: 100%;
    margin: 6px 21px;
    border-radius: 0px 0px 0px 0px;
  }
  .menu-link {
    /* font-size: 19px;*/
    margin: 0px 0px 0px 6px;
  }
  .nav_link-search .filtre {
    margin: 1px 1px 1px 128px;
  }
  .btn {
    margin: 1px 2px 2px 156px;
  }
  .logo {
    display: flex;
    /* margin-top: 5px; */
    flex-direction: column;
    align-items: flex-start;
  }
  .footer .faq {
    display: flex;
    flex-direction: column;
    /* margin: 5px 5px 5px 5px; */
    align-items: flex-start;
  }
  .footer {
    width: 100%;
    margin: -17px 16px;
  }
  .footer li {
    /* margin: 10px 75px 15px 15px; */
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .button {
    font-size: 15px;
    padding: 15px;
    width: 157px;
  }
  /*.logo-header {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      background-color: white;
      box-shadow: 0px 8px 14px grey;
      width: 700px;
      height: 140px;
  }*/
  .nav_link-search {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
  }
  .header_heading {
    margin: 29px 81px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .nav {
    background-color: hsla(0deg, 25%, 10%, 0.04);
  }
  .nav_container {
    margin: -29px -2px;
  }
  .logo {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    flex-direction: column;
  }
  .img-logo {
    margin: 20px 20px 20px 20px;
  }
  .btn .familial {
    font-size: 15px;
    margin: 2px 43px 5px 52px;
    justify-content: center;
  }
}
@media (max-width: 375px) {
  .btn .familial {
    font-size: 15px;
    margin: 2px 43px 5px 52px;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
