.logo{
	display: flex;
	justify-content: center;
    align-items: center;
    margin-top: 5px;
	}


.img-logo{
	width: 173px;
    background-size: 100%;
    
    
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    height: 53px;
	
}


/*.footer{
   width: 100%;
    background-color: #333;
    a{
        text-decoration: none;
        color: #ffff;
        
    }
    
    .faq{
        display: flex;
        
        align-items: center;
       

    }
    li{
        margin: 10px 75px 15px 15px;
        font-size: 16px;
    }
    i{
        color: #ffff;
    }
   

}*/

.font-awesome{
    display: flex;
    gap: 10px;
    row-gap: 20px;
    padding: 5px 5px;
    margin: 20px 10px;
}


    
        .logo{
            
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5px;
            margin-right: 5px;
            }
        
        
        .img-logo{
            
            width: 173px;
            background-size: 100%;
            
            
            background-repeat: no-repeat;
            background-position: center center;
            overflow: hidden;
            height: 53px;
            
        }
        svg{
            margin: 20px;
        }
        path{
            
            fill: #fff;
        }
   

.contenu-footer{
    
    flex-shrink: 0;
    background-color: #333;
    color: #ffff;
    width: 100%;  
    i{
        padding: 5px;
        color: #ffff;
    }
    a{
        margin: 2px 20px 2px 60px;
        display: flex;
        color: #ffff;
        align-items: flex-start;
    }
}


.listes-services{
    display: flex;
    flex-direction: row;
    padding: 5px;

    li{
        padding: 2px 0px ;
    }
}