.img-logo{
	width: 173px;
    background-size: 100%;
    
    
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    height: 53px;
	
}


.footer{
    width: 100%;
    background-color: #333;
    a{
        text-decoration: none;
        color: #ffff;
        
    }
    .faq{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 5px 5px 5px 5px;

    }
    li{
        margin: 10px 15px 15px 15px;
        font-size: 16px;
    }
    i{
        color: #ffff;
    }

}