.flex{
    display: flex;
    flex-direction: row;
    margin: 65px 31px 1px 1px;
    align-items: center;
}
/*menu restaurant*/
.containeur{
    display: flex;
margin-top: 1px;
background-color: rgba(243, 241, 241, 0.5);
height: 550px;
width: 1308px;
margin: auto;
border-radius: 35px 35px 0px 0px;

align-items: center;
/*align-content: center;*/
flex-direction: column;

    
}
.cart {
    display: flex;
    flex-direction: column;
    
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px 0.5px rgb(0 0 0 / 10%);
    width: 271px;
    height: 204px;
    overflow: hidden;
    background-size: cover;
    background-repeat: inherit;
    background-position: center center;
    margin: 10px;
    position: relative;
}



	.image {
        width: 100%;
        background-size: 100%;
        border-radius: 10px 10px 0 0;
        background-repeat: no-repeat;
        background-position: center center;
        overflow: hidden;
        height: 132px;
    }
	
		
		a{
			text-decoration: none;
		}

        .bck-img{
			width: 124vh;
			background-repeat: no-repeat;
			background-position: right 35% bottom 45%;
			background-size: cover;
    overflow: hidden;
    height: 170px;
    margin: 16px 0px 14px 34px;
		}

.fonction{
    display: flex;
    align-items: center;
    margin: 50px;
    font-size: 30px;
    }

    h2{
        font-size: 18px;
        margin: 26px 9px 8px -2px;
    
    }
    .content{
        display: flex;
    flex-direction: column;
    margin: -10px 12px 11px 25px;
}
.content h2 {
    font-size: 18px;
    margin: 0px;
}
    .nouveau{
        position: absolute;
       /* width: 84px;
        height: 31px;*/
        background-color: aquamarine;
        color:#04502c;
        font-size: 13px;
         top: 5px;
        right: 5px;
        border-radius: 5px 5px 5px 5px;
        text-transform: uppercase;
        text-align: center;
        padding: 5px 10px 5px 10px;
    }
    
    .h2{
        display: flex;
        font-size: 15px;
    }
   /* .fa-regular{
        position: relative;
        height: 60px;
        width: 100px;
        top: 60px;
    }*/

    .fa-regular::before{
        content: "";
        position: absolute;
        background-color: $btn-degrade;
        width: 100%;
        height: 100%;
        top: 60px;
    }
    .bck-img{
        width: 126vh;
background-repeat: no-repeat;
background-position: right 35% bottom 45%;
background-size: cover;
overflow: hidden;
height: 170px;
    }