.cart{
    display: flex;
    flex-direction: column-reverse;
    margin: 10px 10px 10px 38px;
border-radius: 26px;
background-color:#ffff;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
padding: -37px;
width: 280px;
height: 220px;
overflow: hidden;
background-size: cover;
background-repeat: inherit;
background-position: center center;
}