


        /*menu a la francaise....la palette...les delices...*/
		.menu{
            background-color: rgba(243, 241, 241, 0.5);
            display: flex;
            margin: -17px 18px 43px 24px;
            
            flex-direction: column;
            align-items: center;
            opacity: 0;
            transform: translatey(-30px);
            animation: apparition 0.9s 1.5s ease-out forwards;
            
                }
                .item-menu{
                    display: inline-block;
                    background-color:#ffff;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                    border-radius: 10px 10px 10px 10px;
                    width: 595px;
                    height: 90px;
                    margin-block: 10px;
                    transition-property: background-color, border-color, border-left-width, padding, width, letter-spacing, font-size;
                    transition-duration: .5s; 
                    position: relative;
                    overflow: hidden;
                
                
                }
                    
                    .item-menu:hover{
                       
                        
                        transition: right 2s;

                         width: 890px ; padding-right: 20px; 
                        
                    }
                    .item-menu::after {
                        content: '';
                        display: block;
                        width: 100px;  height: 130px;
                        background-color: $tertiaire-vert;
                        position: absolute; top: 0px; right: -100px;
                        transition: left .8s;
                      }
                      .item-menu:hover::after { right: 0px;}
.check-hidden{
    color: transparent;
}
                    .check-hidden::after{
                            display: flex;
                            color: white;
                            transform: rotate(-50deg);
                            opacity: (0);
                            
                        }
                        /*.check-hidden:hover::after{
                            width: 80px;
                            height: 100px;
                            border-radius: 0px 10px 10px 0px;
                            color: white;
                            transform: rotate(90deg);
                           /* background-color: $tertiaire-vert;*/
                          /*  opacity: (1);
                            
                        }*/
                    
                    .contenu{
                        display: flex;
            flex-direction: row;
            cursor: pointer;
            align-items: center;
            justify-content: space-between;
                    }
                
                    .item-contenu{
                         display: flex;
                         flex-direction: column;
                         margin: 0px 67px 2px 25px;
                       
                    }
                    .item-price{
                         display: flex;
                         margin: 10px -52px 1px 1px;
                    }
                    .item-push-price{
                        margin: 10px 1px 2px 185px;
                    }
                /* .item-section{
                    opacity: 0;
                    transform: translatey(-30px);
                    animation: apparition 0.9s 1.5s ease-out forwards; 
                 }  */ 
                    
                
                /*---h1 menu a la francaise*/
	.heading{
		display: flex;
		align-items: center;
        justify-content: center;

	}
    h1{
        font-family:Shrikhand-Regular ;
    }	
	.price{
		display: flex;
		
	}
                
                .section{
                    position: absolute;
                    display: inline;
                    text-transform: uppercase;
                    left: 4%;
                    margin: 77px;
                       font-size: 25px;
                    transform: translate(56px, -29px);
        
        
                }
                .section::after{
                    content: "";
                    position: absolute;
                    display: block;
                    width: 50%;
                    margin: 1px,auto;
                    background-color: $tertiaire-vert;
                    height: 3px;
                    
                }
                /* h2 intitulé de la carte*/
                 span.h2{
                    display: flex;
                    font-size: 15px;
                }

                /*animation carte */
	@keyframes apparition{
		100%{
			opacity: 1;
			transform: none;
		}
	}