/*header*/
.header{
    display: flex;
    flex-direction: column;
}
/*image container*/
.container
	 {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin: 0 auto;
	    transition: all 0.5s ease-out;
	}
/*image header*/
        .bck-img{
			width: 100%;
			background-repeat: no-repeat;
			background-position: right 35% bottom 45%;
			background-size: cover;
            overflow: hidden;
            height: 170px;
   
		}

        /*menu a la francaise....la palette...les delices...*/
		.menu{
           
            display: flex;
            margin: 7px 0px 32px 0px;
            
            flex-direction: column;
            align-items: center;
            opacity: 0;
            transform: translatey(-30px);
            animation: apparition 1.5s ease-out forwards;
            
            }
                .item-menu{
                    display: inline-block;
                    background-color:#ffff;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                    border-radius: 10px 10px 10px 10px;
                    width: 50%;
                    height: auto;
                    margin-block: 5px;
                    transition-property: background-color, border-color, border-left-width, padding, width, letter-spacing, font-size;
                    transition-duration: .5s; 
                    position: relative;
                    overflow: hidden;
                
                
                }
                    
                    .item-menu:hover{
                         transition: right 2s;
                        width: 890px ; padding-right: 20px; 
                        
                    }
                    .item-menu::after {
                        content: '';
                        display: block;
                        width: 100px;  height: 130px;
                        background-color: $tertiaire-vert;
                        position: absolute; top: 0px; right: -100px;
                        transition: right .8s;
                      }

                    .item-menu:hover::after { right: 0px;}
                    
                    .check-hidden {
                        color: transparent;
                            
                        position: relative;
                        overflow: hidden;
                            
                        z-index: 2;
                        opacity: 0;
                        animation-duration: 0.2s;
                        animation-fill-mode: both;
                        /* width: 100%; */
                        padding: 10px 10px 5px 8px;
                        
                        }
                    .check-hidden:hover{
                        color: rgb(248, 243, 243);
                        
                        opacity: 1;
                        animation-duration: 0.2s;
                        animation-fill-mode: both;
                        animation: afl;
                        transition: left .8s;
                        transform: rotate(-90);
                        transform: translate(-90deg);
                            
                     }
                     .contenu {
                        width: 100%;
                        display: flex;
                        cursor: pointer;
                        margin: 0px -1px 2px 27px;
                        align-items: flex-end;
                        justify-content: space-around;
                    }
                    .item-contenu {
                        width: 100%;
                       
                    }
        
        
                    .conteneur{
       
                        display: flex;
                        flex-direction: column;
                        background-color: rgba(243, 241, 241, 0.5);
                        margin: auto;
                        width: 100%;
                    }
                    
                    /*.item-push-price{
                        margin: 10px 1px 2px 185px;
                    }*/
                    .d-content{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 10px 10px 51px 10px;
                    opacity: 0;
                     transform: translatey(-40px);
                     animation: apparition 0.9s 0.9s ease-out forwards;
                    }
                    .d_flex{
                        display: flex;
                        flex-direction: column;
                        align-items: center; 
                        opacity: 0;
                    transform: translatey(-50px);
                    animation: apparition 0.9s 1.5s ease-out forwards; 
                    }
                 .item-section{
                    opacity: 0;
                    transform: translatey(-30px);
                    animation: apparition 0.9s 0.3s ease-out forwards; 
                 }  
                 
                    
                
                /*---h1 menu a la francaise*/
                .heading {
                    display: flex;
                    align-items: center;
                    flex-direction: column-reverse;
                    justify-content: space-between;
                }

	
    h1{
        
        font-family:Shrikhand-Regular ;
    }	
	
    /*span{
        display: flex;
    }*/
                
                .section{
                   /* position: absolute;*/
                    display: inline;
                    text-transform: uppercase;
                    left: 4%;
                   /* margin: 65px 10px 20px -37px;*/
                   padding: 80px 10px 10px 5px;
                       font-size: 25px;
                    transform: translate(1px, -29px);
        
        
                }
              
                .section::after{
                    content: "";
                    position: absolute;
                    display: block;
                    width: 50%;
                    margin: 1px,auto;
                    background-color: $tertiaire-vert;
                    height: 3px;
                    
                }
                /* h2 intitulé de la carte*/
                 span.h2{
                    display: flex;
                    font-size: 15px;
                }

                /*animation carte */
	@keyframes apparition{
		100%{
			opacity: 1;
			transform: none;
		}
        
	}