



.image{
	width: 300px;
    background-size: 100%;
    border-radius: 20px 20px 0 0;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    height: 132px;
	
		}
		a{
			text-decoration: none;
		}

        .bck-img{
			width: 200vh;
			background-repeat: no-repeat;
			background-position: right 35% bottom 45%;
			background-size: cover;
    overflow: hidden;
    height: 170px;
		}