	
    /*---menu la francaise fleche retour menu*/
	.class-fa{
		padding: 10px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    color:black;
	background-color: white;
    border-radius: 10px;
    border: none;
	}
	/*--fleche-a-la-francaise*/

	.nav_btn{
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: -10px;
	}
	/*---logo*/
	.logo{
	display: flex;
	justify-content: center;
    margin-top: 5px;
	}
	
	
	
	
	


	/*bouton commander*/
	.tchek{
		display: flex;
		justify-content: center;
	}
	.button{
		padding: 10px;
        width: 134px;
		margin-top: 10px;
		text-align: center;
		cursor: pointer;
		transition: 0.5s;
		color:white;
		border-radius: 10px;
		border: none;
		box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
		background: $btn-degrade ;
		
			&:hover{
				background-color:$btn-degrade (0.5) ;
				
			
				box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
				}
				.btn1{
					display: flex;
					align-items: center;
				}
	}