@media screen and (max-width: 1265px) {
  .contenu .item-contenu {
    padding: 10px;
  }


}

@media screen and (max-width: 800px) {
  .heading {

    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .bck-img {

    margin: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: right 35% bottom 21%;
    background-size: cover;
    overflow: hidden;
    height: 280px;
    z-index: -1;
  }
  .class-fa {
    background-color: rgba(255, 255, 255, 0);
    width: 0;
    margin: 16px 43px 0px 1px;
  }

  .nav-logo {
    height: 40px;
    align-items: center;

  }

  .conteneur {
    background-color: rgba(243, 241, 241, 0.988);
    border-radius: 50px 50px 0 0;
    margin: auto;
    width: 100%;
  }
  .item-menu {
    width: 70%;
  }

  .contenu .item-contenu {
    padding: 10px;
  }

  .contenu .price {
    padding: 28px 10px 2px 2px;
    transition: all 0.5s ease-out;
  }

  .check-hidden {
    background-color: #99E2D0;
    height: 100%;
    padding: 27px;
    overflow: hidden;
    transition: all 0.5s ease-out;
    position: absolute;
    right: -100px;
  }
  .check-hidden i {
    position: relative;
    left: -64px;
    transition: all 0.5s ease-out;
    color: #fff;
    font-size: 17px;
  }
  .contenu:hover .price {
    transform: translateX(-59px);
  }

  h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    margin: 15px 2px 9px 2px;
  }
  span.h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .containt {
    padding-left: 0;
    padding-right: 0;
  }
  li {
    font-size: 18px;
  }
  .section {
    padding: 15px;
    font-size: 20px;
  }
  .menu {

    margin: 35px;
    align-items: flex-start;

  }
  h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    margin: 15px 2px 9px 2px;
  }
  span.h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    display: block;
  }
  .d_flex {
    margin: 35px;
    align-items: flex-start;
  }
  .d-content {
    align-items: flex-start;
    margin: 35px
  }
  .contenu:hover .price {
    transform: translateX(-45px);
  }
  .item-menu {
    width: 100%;
  }

  svg {
    padding: 2px 2px 1px 1px;
  }
  .item-menu:hover {
    transition: right 2s;
    width: 100%;
    padding-right: 20px;

  }

}

