@media  (max-width: 1265px){
    .class-fa{
        margin: 31px 42px 0px 49px; 
    }
    .logo {
        display: flex;
        justify-content:flex-start;
        margin-top: 5px;
        width: 100%;
    }
    

}
@media  (max-width: 800px){
    .heading {
        
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .container{
        padding-right: 0px;
        padding-left: 0px; 
    }
    .bck-img {
        
        position: relative;
        top: 64px;
        left: -7px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: right 35% bottom 21%;
        background-size: cover;
        overflow: hidden;
        height: 280px;
        z-index: -1;
    }
    .class-fa{
		padding: 1px;
        margin-top: 19px;
        text-align: center;
        cursor: pointer;
        transition: 0.5s;
        color: black;
        background-color:white;
        border-radius: 17px;
        height: 35px;
        width: 64px;
        border: none;
        font-size: 28px;
        width: 100%;
      /*  margin: 77px 42px 0px 49px;*/

	}
    .nav-logo{
		height: 12px;
		align-items: center;
		
	}
    
    .conteneur{
        background-color: rgba(243, 241, 241, 0.988);
        border-radius: 50px 50px 0 0;
        margin: auto;
        width: 100%;
    }
   /* .section {
        font-size: 18px;
        position: absolute; 
        transform: translate(1px, -29px);
    }*/
    h2 {
        font-size: 16px;
        margin: 15px 2px 9px -2px;
    }
}
@media  (max-width: 600px){
    .nav_btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 55px;
    }
    .contenu-footer a {
        margin: 26px 5px 10px -10px;
    }
    li{
        font-size: 18px;
    }
    .menu {
        
        margin: 50px; 
        align-items: flex-start;
        
    }
    .d_flex {
        margin: 50px;
        align-items: flex-start;
    }
    .d-content {
        align-items: flex-start;
        margin: 50px 
        }
        .item-menu {
            width: 100%;
        }
}
@media  (max-width: 375px){

}

